<div class="flex flex-row justify-between w-3/4 mt-[2rem]">
  <button
    class="rounded-md py-2 px-4 shadow-md focus:outline-none text-[0.8rem] bg-blue-600 w-[5rem] text-white ml-2">
    Today
  </button>
  <div class="flex flex-row justify-between">
    <button class="rounded-md py-2 px-4 shadow-md focus:outline-none text-[0.8rem] bg-green-900 w-[5rem] text-white mr-2">
      Save
    </button>
    <button class="rounded-md py-2 px-4 shadow-md focus:outline-none text-[0.8rem] bg-orange-600 w-[7rem] text-white">
      + New Item
    </button>
  </div>
</div>
